<div class="provider">
  <h1><%= provider.name %></h1>
  <div class="row-fluid">
    <div class="span6">
      <ul class="links">
        <li><%= link_to "Back to results", :back %></li>
        <% provider.website.map do |website| %>
          <li>
            <%= link_to website, website %>
          </li>
        <% end %>
      </ul>
      <address>
        <% provider.address.lines.each do |line| %>
          <%= line %><br/>
        <% end %>
        <%= provider.address.postcode %><br />
      </address>
      <address>
        <strong>Tel:</strong> <%= provider.phone.value_or "No data" %>
      </address>
      <address>
        <strong>Web:</strong> <%= provider.website.value_or "No data" %>
      </address>
      <address>
        <strong>Fax:</strong> <%= provider.fax.value_or "No data" %>
      </address>
      <%== provider.summary.value_or "" %>
    </div>
    <div class="map-container span6">
      <%= map_marker provider %>
      <div id="map_canvas">
      </div>
    </div>
  </div>
</div>
